CONFIG_RISCV=y
CONFIG_SYS_MALLOC_LEN=0x100000
CONFIG_SYS_MALLOC_F_LEN=0x2000
CONFIG_NR_DRAM_BANKS=1
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x80200000
CONFIG_ENV_SIZE=0x20000
CONFIG_DEFAULT_DEVICE_TREE="ventana-vt1"
CONFIG_SYS_LOAD_ADDR=0x80200000
CONFIG_TARGET_VENTANA_VT1=y
CONFIG_ARCH_RV64I=y
CONFIG_RISCV_SMODE=y
CONFIG_FIT=y
CONFIG_SYS_BOOTM_LEN=0x4000000
CONFIG_DISTRO_DEFAULTS=y
CONFIG_BOOTCOMMAND="booti 0x80200000 - ${fdtcontroladdr}"
CONFIG_SYS_CBSIZE=256
CONFIG_SYS_PBSIZE=276
CONFIG_DISPLAY_CPUINFO=y
CONFIG_DISPLAY_BOARDINFO=y
CONFIG_CMD_SBI=y
CONFIG_CMD_CLK=y
CONFIG_CMD_MMC=y
CONFIG_STACK_SIZE=0x4000
# CONFIG_CMD_MII is not set
CONFIG_OF_LIVE=y
CONFIG_OF_BOARD=y
CONFIG_SYS_RELOC_GD_ENV_ADDR=y
# CONFIG_OFNODE_MULTI_TREE is not set
CONFIG_CLK_CCF=y
CONFIG_MMC=y
CONFIG_DM_MTD=y
# CONFIG_SERIAL_PUTS is not set
CONFIG_SERIAL_PROBE_ALL=y
CONFIG_SEMIHOSTING_SERIAL=y
CONFIG_SPI=y
CONFIG_SEMIHOSTING=y
# CONFIG_EFI_LOADER is not set
